/*
task red: #F22613;
task green: #00B16A;
task amber: #F89406;

*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
}

header{
    height: 5%;
    margin: 20px;
}

header h1{
    font-weight: lighter;
    text-align: left;
    margin-left: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

table th{
    text-align: center;
    padding: 5px
}

table td{
    padding: 5px;
    font-size: 18px;
    text-align: center;
    border: none;
}

table tr:hover{
    background-color: #ddd;
}

table tr td{
    border-bottom: 1px solid #A9A9A9;
}

nav{
    background-color: #D3D3D3;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{
    float: left;
}

nav li a{
    display: block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    padding: 10px 12px;
    color: black;  
}

nav li a:hover{
    background-color: #ffffff;
}

.logout{
    border-left: 2px solid #000000;
    font-weight: bold;
}

.unstyled-link{
    text-decoration: none;
    color: black;
}

.content{
    width: 90%;
    margin: 0 auto;
}

.small-content{
    width: 60%;
    margin: 0 auto;
}

.logout-link{
    float: right;
    font-weight: bold;
}
.small-input{
    width: 10%;
    height: 35px;
    margin-left: 10px;
}
.med-input{
    width: 90%;
    height: 30px;
    padding-left: 5px;
    margin: 10px;
}

.split-col{
    float: left;
    width: 50%;
}

.small-col{
    float: left;
    width: 30%;
    margin: 10px;
}

.large-col{
    margin: 15px;
    float: left;
    width: 65%;
}

.full-col{
    margin: 15px;
    float: left;
    width: 90%;
}

.full-col-inner{
    margin: 15px;
    float: left;
    width: 47.2%;
}

.med-col{
    margin: 0 auto;
    float: left;
    width 30%;
}

.blank-collapse-wrapper{
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    margin: 10px;
}

.collapse-wrapper{
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    margin: 10px;
    border-bottom: 1px #000000 solid;
}

.collapse-wrapper p{
    margin: 5px;
}

.collapse-wrapper h4{
    margin: 5px;
}

.collapse-wrapper li{
    font-size: 18px;
    margin: 5px;
    border: 1px solid #D3D3D3;
    border-radius: 1px;
    padding: 5px;
}

.collapse-wrapper input[type="button"]{
    width: 100%;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
    display: block;
    background-color: #D3D3D3;
    font-size: 16px;
    color: #000000;
    border: 2px;
    border-radius: 1px;
}

.toggle-label h3{
    display: inline;
}

.toggle-label::before{
    content:"▼";
    font-size: 16px;
    margin: 5px;
}

.toggle{
    display: none;
}

.toggle:checked ~ .toggle-label::before{
    content: "▲";
    font-size: 16px;
    margin: 5px;
}

.centered-form{
    display: block;
    margin: 10px auto;
    text-align: center;
}

.centered-form input{
    border-radius: 12px;
    border: solid 1px #D3D3D3;
    border-radius: 2px;
}

.centered-form input[type="checkbox"]{
    transform: scale(1.25);
    margin: 10px;
}

.left-aligned-label{
    margin-left: 5%;
    float: left;
}

.centered-form input[type="button"]{
    width: 90%;
    height: 35px;    
    margin: 10px;
    background-color: #3a506b;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: lighter;
}

.light-text{
    font-weight: lighter;
}

.centered-form input[type="button"]:hover{
    box-shadow: 0px 0px 5px #888888; 
    border-color: #3a506b;
}

.centered-form input[type="date"]{
    height: 35px;
}

.centered-form select{
    border-radius: 2px;
    height: 35px;
}

.centered-form select option{
    font-size: 14px;
}

.centered-label{
    margin: 0;
}

.query-bar{
    width: 95%;
    height: 5%;
    margin: 0 auto;
    padding: 10px;
}

.query-bar input[type="text"]{
    height: 35px;
    width: 20%;
    padding-left: 5px;
    border: solid 1px #D3D3D3;
    border-radius: 2px;
    display: block;
    float: left;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.query-bar button{
    height: 35px;
    width: 35px;
    background-image: url("src/search-icon.svg");
    border: solid 1px #D3D3D3;
    border-radius: 0 2px 2px 0;
    display: block;
    float: left;
    background-color: #3a506b;
    border-color: #3a506b;
}

.query-bar button img{
    height: 50%;
    width: 50%;
}

.query-bar input[type="text"]:focus{
    width: 40%;
}


#spec-wrapper h2{
    font-weight: lighter;
    margin: 10px;
}
#spec-wrapper p{
    font-size: 18px;
    margin: 10px;
}
#details-button{
    width:20%; 
    height: 30px;
    float: left;
    margin: 10px;
}
#acw-status-wrapper{
    width: auto;
    display: inline;
    background-color: #00B16A;
    margin: 10px;
    color: #FFFFFF;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
    height: 30px;
    float: left;
}
#task-wrapper{
    width: 80%;
    margin: 10px auto;
    box-shadow: 0px 0px 10px #888888;
}

#task-wrapper p{
    margin: 10px
}

#task-priority-banner{
    color: #FFFFFF;
    border-radius: 5px 5px 0 0;
    text-align: right;
    display: block;
    overflow: auto;
}

#task-priority-banner h2{
    margin: 10px;
}

#task-content{
    border: 1px solid #808080;
    overflow: hidden;
    border-top: none;
    padding: 10px;
}

#task-content p{
    font-size: 22px;
    text-align: center;
}

#task-due-date{
    text-align: right;
    font-weight: lighter;
}

#task-title{
    text-align: left;
}

#acw-wrapper{
    margin: 10px;
}

#acw-wrapper-text{
    text-align: left;
}

#login-wrapper h1{
    color: #000;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 10px;
}

#spacer-top{
    height: 20%;
}

#login-background{
    background-color: #D3D3D3;
    width: 100%;
    height: 100%;
}

#login-wrapper{
    height: auto;
    width: 35%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px #888888;
    background-color: #ffffff;
}

#reset-form{
    height: auto;
    width: 80%;
    margin: 0 auto;
    margin-bottom: auto;
    text-align: center;
}
#login-wrapper p{
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
}
#reset-form input{
    width: 100%;
    height: 40px;
    margin: 7px;
    padding-left: 5px;
    border: solid 1px #D3D3D3;
    border-radius: 2px;
    font-size: 16;
    font-weight: normal;
}

#reset-form button{
    width: 100%;
    height: 40px;
    margin: 7px;
    border: 1px;
    border-radius: 2px;
    font-size: 18;
    font-weight: lighter;
    color: #FFFFFF;
    background-color: #3a506b;
}

#login-form{
    height: auto;
    width: 80%;
    margin: 0 auto;
    margin-bottom: auto;
    text-align: center;
}

#login-form input{
    width: 100%;
    height: 40px;
    margin: 7px;
    padding-left: 5px;
    border: solid 1px #D3D3D3;
    border-radius: 2px;
    font-size: 16;
    font-weight: normal;
}

#login-form button{
    width: 100%;
    height: 40px;
    margin: 7px;
    border: 1px;
    border-radius: 2px;
    font-size: 18;
    font-weight: lighter;
    color: #FFFFFF;
    background-color: #3a506b;
}

#login-form button:hover{
    box-shadow: 0px 0px 10px #888888;
}

#spacer-bottom{
    height: 20%;
}
#forgot-pass-link{
    text-align: center;
}
.high-priority-task{
    border: 1px solid #F22613;
    background-color: #F22613;
}
.medium-priority-task{
    background-color: #F89406;
    border: 1px solid #F89406;
}
.complete-priority-task{
    background-color: #00B16A;
    border: 1px solid #00B16A;
}
.error-text{
    color: red;
    font-size: 14;
}